<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta content="_csrf_token" name="csrf-param" />
  <meta content="<%= csrf_token %>" name="csrf-token" />
  <title>Worthinary</title>
</head>
  <body>
    <div id="app"></div>

    <%= javascript_pack_tag 'main.js' %>
  </body>
</html>
